/Calculator/obj/project.assets.json
/Calculator/obj/project.nuget.cache
/Calculator/obj/Calculator.csproj.nuget.dgspec.json
/Calculator/obj/Calculator.csproj.nuget.g.props
/Calculator/obj/Calculator.csproj.nuget.g.targets
